img{
    width:30%;
    margin:calc(10/6);
    
}
/* 
if 3 picture in 1 row
30+30+30=90%
10% left 
10/6  {how 6=[left(image)right,left(image)right,left(image)right]}
*/


nav{
     text-transform: uppercase;
     border-bottom:2px solid grey;
     width:35%;
     margin-left:calc(10/6);
     padding:20px 0;
}